# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
ios/Pods/
android/.gradle/
android/app/debug
android/app/profile
android/app/release
*.iml
*.log

# IDE
.vscode/
.idea/

# Signing keys (do NOT commit)
*.jks
key.properties

# Other
pubspec.lock
